HOW-TO Web api asp core 2

I'm using asp net core 2 for web api.

I need to cache post method as I'm using as a GET

I've download the cachecow.Serer.core and cachecow.Serer.WebApi nevertheless I don't know what to do next and how to implement it with etagQueryProvider (should I use the sample from the server.Core ?

And how to connect it to SQL Server to store the json response based on URL + payload

Waiting on your reply,


I am afraid POST requests are not supposed to be cached according to HTTP specification. As such, this scenario is not supported in CacheCow. 

For GET requests, I can help you to get started with it, although there are also plenty of resources.

Here is the info from spec :
According to RFC 2616 Section 9.5: "Responses to *POST method* are not
cacheable, UNLESS the response includes appropriate *Cache*-Control or
Expires header fields." So, YES, you can *cache POST* request response but
only if it arrives with appropriate headers.

It should be possible

On Sat, Jun 8, 2019 at 9:59 AM Ali Kheyrollahi <notifications@github.com>
wrote:

> I am afraid POST requests are not supposed to be cached according to HTTP
> specification. As such, this scenario is not supported in CacheCow.
>
> For GET requests, I can help you to get started with it, although there
> are also plenty of resources.
>
> —
> You are receiving this because you authored the thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/aliostad/CacheCow/issues/231?email_source=notifications&email_token=AEB46IKUPRXDEVFP7J4CNHDPZO3NVA5CNFSM4HVX5FB2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGODXHVFEY#issuecomment-500126355>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AEB46INLY5G5EYFM6WGU3H3PZO3NVANCNFSM4HVX5FBQ>
> .
>


It is possible but completely meaningless. Even as for the 2616, the implementation and detail for the definition of the cache key is undefined.

Since POST methods have bodies, the cache key should also include aspects of body which is unsafe for an intermediary due to its impact in terms of streaming, etc. If the POST method does not have a body and practically is a GET (no change in the state) then it really must be defined as a GET.

In any case, CacheCow does not support this scenario out of the box. If you really need to get this work, you can create your own `ICacheabilityValidator` (note `IsCacheable`) to allow for POSTs to be cacheable but cannot guarantee it will work.

